.jumbotron{
    background-color: #2196F3;
    color: #ffffff;
    margin: 40px 5px;
}
price{
  font-size: 20px;
}
.well{
  margin-bottom: 5px;
}
.bg-dark{
    background-color: #1587B5;
}
.container-fluid{
    padding: 20px 30px;
}
#sortDiv{
  height: 700px;
}
#filterDiv{
  height: 700px;
}
.text-left{
  margin: 5px 5px;
}
.modalbtn{
  margin:10px 10px;
}
button#searchBtn{
  margin: 0px 60px;
}
div#flight-show{
  margin: 10px 0px;
  max-height: 500px;
  overflow: auto;
  word-wrap: normal;
}
input{
	color: #010101;
}
input#nonstop{
  margin: 0px 10px;
}
label.index-label-small{
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 20px;
    display: inline-block;
}
label.arr-label-small{
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 41px;
    display: inline-block;
}
label.date-label-small{
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 37px;
    display: inline-block;
}
fieldset.sub-nav-select{
    margin: 40px;
}




